{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <h1 class="text-center mb-3 font-weight-normal">Please sign in</h1>
    <p class="text-center text-muted">Hire to create or realise projects &#x1F913;</p>

    <form method="post">
      {% if error %}
        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <label for="inputEmail">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

      <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


        <div class="checkbox mb-3 d-flex justify-content-between">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
        <a href="#">Forgot password</a>
        </div>



      <button class="btn btn-lg w-100 btn-primary" type="submit">
        Sign in
      </button>
      <p class="mt-5 text-center text-muted">Don't have an account ? <a href=" {{ path('app_user_register') }} " >Register now </a></p>
    </form>


  </div>
</div>
{% endblock %}
