{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1 class="text-center">Register</h1>
            <p class="text-center">The project are waiting for you, Hurry up &#x1F3C3;&#x200D;&#x2642;&#xFE0F;</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary w-100">Register</button>
            {{ form_end(registrationForm) }}            
            <p class="text-center text-muted mt-3">Already have an account ? <a href=" {{ path("app_login") }} ">Log in</a></p>
        </div>
    </div>
    
{% endblock %}
