{% extends 'base.html.twig' %}

{% block title 'New Project' %}

{% block body %}
  <div class="col">

    <div class="col-md-6 mx-auto">

      <h2 class="text-center">Create a Project</h2>
        {{  form_start(form)  }}
          {{  form_widget(form) }}
          <input type="submit" class="btn btn-primary" value="Create Project" />
        {{  form_end(form)  }}
    </div>
  </div>
{% endblock %}
