{% extends 'base.html.twig' %}

{% block title 'Delete' %}

{% block body %}
  <h1 class="text-center"> Deletion confirmation </h1>
  {{  form_start(form)  }}
    {{  form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-block" value="Submit" />
  {{  form_end(form)  }}
{% endblock %}
