{% extends 'base.html.twig' %}

{% block title 'Edit Project' %}

{% block body %}
  <style media="screen">
    img
    {
      border-radius: 10px;
      border: 5px solid rgb(212, 219, 211) ;
      box-shadow: 8px 10px 14px grey;
    }
  </style>

  <h1 class="text-center">Edit Project</h1>
  <div class="row">

    <div class="col-md-8" style="margin: auto;">

      {{  form_start(form)  }}
        {{  form_widget(form) }}
        <input type="submit" value="Edit Project" class="btn w-100 btn-primary btn-block"/>
      {{  form_end(form)  }}

    </div>

  </div>
{% endblock %}
