{% extends 'base.html.twig' %}

{% block title %} Acceuil {% endblock %}

{% block body %}
  {% if projects_list|length > 0 %}
    <p class="h2 mt-3 mb-3 text-center" > Projects </p>
    {% for paquet in projects_list|batch(4) %}
      <div class="row mb-5 mx-10 " style="justify-content: center;">
        {% for projet in paquet %}


            <article class="card col-md-2 shadow" style="margin-left: 8px;">

              <div class="mw-100 overflow-hidden rounded-top">

                <a href=" {{ path('app_project_show', {id: projet.getId}) }} " >
                  <img src="{{ (projet.imageName ? vich_uploader_asset(projet) : asset('images/defaultimage.png')) | imagine_filter('square_thumbnail_acceuil') }}" alt="{{ projet.title }}" class="card-img-top imges" style="transition: transform 1s ease;">
                </a>
              </div>

              <h3 class="text-center"> <a href=" {{  path('app_project_show', {id: projet.getId})  }}  "> {{  projet.title  }} </a> </h3>
              {{  projet.description|u.truncate(50, "..." , false)  }}
              <br />
              <p class="pl-3 pb-3 text muted"><br />
                <u><b> Created At </b></u>: {{  projet.createdAt|ago  }} <u><b>By</u></b> {{  projet.user.getFullName  }} <br />
              </p>
              <p>
                <u><b> End At : </b></u>{{  projet.endAt|date('d-m-Y h:i ')  }}
               </p>

            </article>



        {%  endfor  %}
      </div>
    {%  endfor  %}
  {% else %}
    <p class="h2 mt-5 text-center"> No Project Yet &#x1F625; <a href=" {{ path('app_project_create') }} "> Be the first </a> </p>
  {% endif %}
{% endblock %}
