{% extends 'base.html.twig' %}

{% block title 'show' %}

{% block body %}

  <div class="mw-100 overflow-hidden">
    <img src="{{ (projet.imageName ? vich_uploader_asset(projet) : asset('images/defaultimage.png')) | imagine_filter('square_thumbnail_SHOW') }}" alt="..." display="align-item: center; justify-content: center;" style="transition: transform 1s ease;">
  </div>
  <br />
  <p class="pl-3 pb-3 text muted">
    <small>
      <time datetime="{{ projet.createdat|date("D/M/Y H:i") }}">
        submitted {{  projet.createdAt|ago  }} <u><b>BY</b></u> {{  projet.user.getFullName }}
      </time>
    </small>
  </p>

  <p class="h3 text-decoration-underline text-center "> {{  projet.title  }} </p> <br />
  <p class="h4"><u> Description : </u><br />
    <div class="p-2">{{  projet.description  }}</div>
  </p>
  <a href=" {{  path('app_project_edit', {id: projet.getId})  }} " class="btn btn-light">Edit</a>  |
  <a href=" {{  path('app_project_delete', {id: projet.getId})  }} " class="btn btn-light">Delete</a>

{% endblock %}
