<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
      <title>{% block title %}ProjetaPlace{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('Css/base_style.css') }} ">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}


            <style media="screen">

              .flash-error
              {
                background-color: red;
              }
              .mb-3
              {
                margin-top: 20px;
              }

              .row
              {
                margin-bottom: 20px;
              }

              .card-img-top:hover
              {
                transform: scale(1.2);
              }



              @media only screen and (max-width: 768px) {
              /* For mobile phones: */
              [class*="col-"] {
                  width: 100%;
              }

              article
              {
                margin-top: 10px;
              }
            }

            </style>
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {{  include('parts/_flash_messages.html.twig')  }}
        {{  include('parts/_nav_bar.html.twig') }}

        <main role="main" class="container">

          {% block body %}

          {% endblock %}
        </main>

    </body>
</html>
