{# read and display all flash messages #}
{% for label, messages in app.flashes(['success', 'error', 'info']) %}
    {% for message in messages %}
        <div class="flash flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
