<nav class="navbar navbar-expand-md navbar-light bg-light">
	<div class="container">

		<div>
			<a class="navbar-brand" href=" {{ path('app_home') }} ">Our Project -- dede</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="d-flex justify-content-end collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav ml-auto">
				{% if app.user %}

					<li class="nav-item">
						<a class="nav-link" href=" {{  path('app_home')  }} ">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('app_project_create')  }}">New Project</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('app_logout') }} ">Logout</a>
					</li>

				{% else %}

					<li class="nav-item">
						<a class="nav-link" href=" {{ path('app_user_register') }} ">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('app_login') }} ">Login</a>
					</li>

				{% endif %}
			</ul>
		</div>
	</div>
</nav>
